# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
.env/

# Ignore model file
*.nemo

# Ignore data files
*.csv
*.h5
*.pkl
*.pt
*.tab

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore large logs
logs/
*.log

# Ignore directories
data/
models/
src/hpc_runs/
